database:
  host: ${DB_HOST}
  port: ${DB_PORT}
  name: ${DB_NAME}
  user: ${DB_USER}
  password: ${DB_PASSWORD}
  sslmode: ${DB_SSLMODE}

server:
  port: ${SERVER_PORT}

logging:
  level: ${LOG_LEVEL}